<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>PLEASE ENTER YOUR CLIENT_ID</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>PLEASE ENTER YOUR REVERSED_CLIENT_ID</string>
	<key>API_KEY</key>
	<string>PLEASE ENTER YOUR API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>PLEASE ENTER YOUR GCM_SENDER_ID</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meera.SWIFTUIChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatappswiftui-9cdc2</string>
	<key>STORAGE_BUCKET</key>
	<string>PLEASE ENTER YOUR STORAGE_BUCKET</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>PLEASE ENTER YOUR GOOGLE_APP_ID</string>
</dict>
</plist>
